body,
html {
  font-family: "Karla";
  font-size: 16px;
  display: grid;
  place-content: center center;
  background-color: hsl(204, 43%, 93%);
  margin-top: 30px;
}

.container {
  border-radius: 8px;
  width: 800px;
  background-color: white;
  box-shadow: 0px 5px 20px rgb(193, 193, 193);
}

.column-top,
.column-bottom-1,
.column-bottom-2 {
  padding: 40px;
}

.column-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.join {
  color: hsl(179, 62%, 43%);
}

.money-back {
  color: hsl(71, 73%, 54%);
}

.join-text {
  color: hsl(218, 22%, 67%);
  line-height: 10px;
}

.price {
  font-size: 30px;
  font-weight: bold;
}

.per-month {
  font-style: 10px;
  color: hsla(203, 44%, 93%, 0.539);
}

.column-bottom-1 {
  background-color: hsl(179, 62%, 43%);
  color: hsl(204, 43%, 93%);
  border-bottom-left-radius: 8px;
}

.column-bottom-2 {
  background-color: hsl(179, 49%, 57%);
  color: hsl(204, 43%, 93%);
  border-bottom-right-radius: 8px;
}

button {
  background-color: hsl(71, 73%, 54%);
  border: none;
  padding: 15px;
  width: 250px;
  border-radius: 5px;
  color: hsl(204, 43%, 93%);
  font-weight: bold;
  box-shadow: 0px 15px 50px rgba(121, 121, 121, 0.411);
}

@media (max-width: 375px) {
  .container {
    display: grid;
    max-width: 100%;
  }
}
